<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="dev_pyconfig">
            <Component Id="include_pyconfig.h" Directory="include" Guid="*">
                <File Id="include_pyconfig.h" Name="pyconfig.h" Source="!(bindpath.src)PC\pyconfig.h" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs">
            <Component Id="libs_myFRpy3.lib" Directory="libs" Guid="*">
                <File Id="libs_myFRpy_stable.lib" Name="myFRpy$(var.MajorVersionNumber).lib" KeyPath="yes" />
            </Component>
            <Component Id="libs_myFRpy.lib" Directory="libs" Guid="*">
                <File Id="libs_myFRpy.lib" Name="myFRpy$(var.MajorVersionNumber)$(var.MinorVersionNumber).lib" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs_d">
            <Component Id="libs_myFRpy3_d.lib" Directory="libs" Guid="*">
                <File Id="libs_myFRpy_stable_d.lib" Name="myFRpy$(var.MajorVersionNumber)_d.lib" />
            </Component>
            <Component Id="libs_myFRpy_d.lib" Directory="libs" Guid="*">
                <File Id="libs_myFRpy_d.lib" Name="myFRpy$(var.MajorVersionNumber)$(var.MinorVersionNumber)_d.lib" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
